# Enable Git LFS for large model files
*.bin filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
*.gguf filter=lfs diff=lfs merge=lfs -text
*.ggml filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text

# Ignore unnecessary files
__pycache__/ ignore
*.tmp ignore
*.log ignore
*.lock ignore
# Ignore everything in models except Mistral-7B-GPTQ
models/*
!models/Phi2
